<div
    class="grid grid-flow-row auto-rows-auto grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-[50px] overflow-hidden">
    <div class=" shadow-xl" *ngFor="let item of todoItems">
        <nz-card class="flex flex-col items-center" style="width:300px; border: 0; " nzTitle={{item.title}}>
            <div class="flex justify-between">
                <p class="min-w-[80px] ">Id </p>
                <p class="mr-3">:</p>
                <p class=" w-[150px]">{{item.id}} </p>
            </div>
            <div class="flex justify-between">
                <p class="min-w-[80px] ">Title </p>
                <p class="mr-3">:</p>
                <p class=" w-[150px]">{{item.title}} </p>
            </div>
            <div class="flex justify-between">
                <p class="min-w-[80px] ">Status </p>
                <p class="mr-3">:</p>
                <p class=" w-[150px]">{{item.status}} </p>
            </div>
            <div class="flex justify-between">
                <p class="min-w-[80px] ">Priority </p>
                <p class="mr-3">:</p>
                <p class=" w-[150px]">{{item.priority}} </p>
            </div>
            <div class="flex justify-between">
                <p class="min-w-[80px] ">Description </p>
                <p class="mr-3">:</p>
                <p class=" w-[150px]">{{item.description}} </p>
            </div>
            <div class="flex justify-between">
                <p class="min-w-[80px] ">DueDate </p>
                <p class="mr-3">:</p>
                <p class=" w-[150px]">{{item.dueDate}} </p>
            </div>
            <div class="flex justify-between">
                <p class="min-w-[80px] ">Tags </p>
                <p class="mr-3">:</p>
                <p class=" w-[150px]">{{item.tags[0]}} {{item.tags[1] }} </p>
            </div>
        </nz-card>
        <div class="flex my-[10px] gap-[50px] justify-center">
            <a routerLink="/view/{{item.id}}"> View</a>
            <button nz-button nzType="primary" nzDanger (click)="onDeleteItem(item.id)"> Delete</button>
        </div>
    </div>
</div>